{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Fiv'togetherr.</h1>

    {% for post in pots %}
    
    {% else %}
    <p>No posts here !</p>    
    {% endfor %}
{% endblock %}
