{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
	<div class="banner">
		<header class="d-flex justify-content-center align-items-center pb-3">
			<div class="column">
				<h1 class="behind">Behind the screen.</h1>
				<h2 class="share d-flex justify-content-center align-items-center">Share, learn and
				</h2>
				<p class="love d-flex justify-content-center align-items-center">LOVE</p>
				<p>
					<a href="{{ path('post_index') }}" class="btn btn-primary w-100 mt-1 mb-3 mx-3">See the posts here →</a>
				</p>
				<p></p>
			</div>

		</header>
	</div>
	<div class="container">
		<h2 class="fiverr my-5 m-3 d-flex justify-content-center">What is Fiverr Together?</h2>
		<div>
			Communication is key when it comes to working away from each other.
		    That is the reason why we opened the opportunity for the freelancers of Fiverr, to be able to share what they love, their passions and advices.
		    Considering that some of you might end up working together, we tought interesting to gather our freelancers into a single place, where you can meet and learn to know the people that you may end up working with !
			<p>We tought of this with 3 bigs and specifics aspects, things that we used as our main slogan.</p>
			<p>Share. Learn. Love.</p>
		</div>
		<div>
			<h2 class="fiverr my-5 m-3 d-flex justify-content-center">Share</h2>
			    Sharing is part of our everyday life now that social medias as come to the point where it is an inherent part of us.
			    To improve the communicative aspect of our freelancers, we needed a part of our website where people could express themselves with representations of their workspaces, hobbies or anything related to what they embody.
		</div>
		<div>
			<h2 class="fiverr my-5 m-3 d-flex justify-content-center">Learn</h2>
			As most of our freelancers work on digitals spaces or from their home, they might find themselves wondering how they could get to make their life easier.
			    This is where the learning part came to our mind, it was important for us that Fiverr Together was not only a place where people share their passions, but also a place where you could get advices
			    from each other. Whether it is about your own way of organising your work or how you prepare your client meeting, in the end this is what means for you, so we went in that way for a reason.
		</div>
		<div>
			<h2 class="love my-5 m-3 d-flex justify-content-center">Love</h2>
			Last but not least, in a period where you might find yourself being lonely working from home, we tought that you could like being able to talk with people that resembles you.
			Positivity is necessary for the freelancers to be able to work in a good environment, make encounters, talk, "five" their post with a heart and they might give you a heart too.
		</div>
		<div class="mb-5">
			<h2 class="fiverr my-5 m-3 d-flex justify-content-center">To summarize</h2>
			Love what you do, share it and learn from the other, whether we are one or five, we are all in this TOGETHER.
		</div>
	</div>
{% endblock %}
