@import "variables.scss";
@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap%27");

body {
    background-color: $light;
    font-family: $text-font;
    font-size: $text-size;
}

h1, h2, h3 {
    font-family: $text-font;
}

p {
    color: $medium;
}

.post {
    border-radius: $post-card-border-radius;
}

.username {
    color: $secondary;
}

.post-button {
    background-color: $terciary;
    color: $light;
    border-radius: 5px;
}

.post-image {
    border-radius: $post-image-border-radius;
}

.icon-heart {
    font-size: $title-size;
    color: $love;
}

.banner {
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    background-image: url("../images/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
}

.behind {
    filter: drop-shadow(0 0 0.15rem rgb(2, 2, 2));
    color: $light;
}

.share  {
    filter: drop-shadow(0 0 0.15rem rgb(2, 2, 2));
    color: $light;
}

.love {
    filter: drop-shadow(0 0 0.15rem rgb(2, 2, 2));
    color: $love;
    font-style: bold;
    font-size: 40px;
}

.fiverr{
    color: $medium;
}