$light: #fffbfb;
$primary: #00732E;
$secondary: #003912;
$terciary: #1DBF73;
$medium: #7A7D85;
$love: #FF80AE;
$dark : #0D0400;

$text-font: 'Anton', sans-serif;
$title-font: 'Anton', sans-serif;
$text-size: 16px;
$title-size: 32px;