<nav class="navbar navbar-light bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">
			<img src="{{ asset('build/images/logo.jpg') }}" width="130" height="50" class="d-inline-block align-top" alt="logo">
		</a>
		<form class="d-flex">
			<input class="form-control me-2" type="search" placeholder="# Search" aria-label="Search">
			<button class="btn btn-outline-success" type="submit">Search</button>
		</form>
	</div>
</nav>
