{% extends 'base.html.twig' %}

{% block title %}Post index
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Fiv'togetherr.</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for post in posts %}
                    <div class="col">
                        <div class="card post mt-3">
                            <img src="{{ asset('build/images/tableau.jpg') }}" class="card-img-top post-image" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{ post.picturename }}</h5>
                                <i class="bi bi-heart icon-heart flex-end"></i>
                                <p class="card-text">{{ post.description }}</p>
                            </div>
                            <a href="#" class="btn w-50 mt-1 mb-3 mx-3 post-button">Start a conversation</a>
                        </div>
                    </div>
            {% else %}
                <p>No post here !</p>          
            {% endfor %}
        </div>
    </div>
    <a href="{{ path('post_new') }}">Add a new post</a>
{% endblock %}
