{% extends 'base.html.twig' %}

{% block title %}Add a post{% endblock %}

{% block body %}
    <h1 class="fiverr py-3 text-center">Add a new post</h1>

    {{ include('post/_form.html.twig') }}

{% endblock %}
