{% extends 'base.html.twig' %}

{% block title %}Add a post
{% endblock %}

{% block body %}
	<h1 class="fiverr py-3 text-center">Add a new post</h1>

	{{ include('post/_form.html.twig') }}

	<div class="form-group d-flex justify-content-center t-5 col col-lg-6 col-md-12 mx-auto">
		<a class="btn w-50 mt-3 mb-3 mx-3 post-button" href="{{ path('post_index') }}">Back to posts</a>
	</div>

{% endblock %}
